Source: libapache2-mod-vhs
Priority: extra
Maintainer: Frédéric VANNIÈRE <f.vanniere@planet-work.com>
Build-Depends: debhelper (>= 8.0.0), apache2-prefork-dev, libhiredis-dev, libjson-c-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.planet-work.com/
#Vcs-Git: git://git.debian.org/collab-maint/libapache2-mod-vhs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libapache2-mod-vhs.git;a=summary

Package: libapache2-mod-vhs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2-mpm-prefork | apache2-mpm-itk | libapache2-mpm-itk, libhiredis0.10 | libhiredis0.13, libjson-c2 | libjson-c3
Description: Mass virtualhosting, customized mod_vhs by PW
